@import "tailwindcss";

:root {
	--background: #0b1020;
	--foreground: #e6e6e6;
}

html, body, #__next {
	height: 100%;
}

body {
	background: var(--background);
	color: var(--foreground);
}

textarea, input, select {
	background: white;
	color: black;
} 